@charset "utf-8";
html,body{
    font-family:"맑은 고딕";
    font-size:16px;
    background-color:white;
    color:black;
    margin:0;
}
a{
    text-decoration: none;
    color:#333;
}
a:hover{
    color:#666;
}
img{
    vertical-align: bottom;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

header{
    width:100%;
    height:100px;
    background-color:lightblue;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
#m-nav{
    width:30px;
    height:30px;
    background-color:black;
    margin-left:20px;
}
#m-open{
    width:100%;
    height:100%;
    background-color:transparent;
    border:none;
    color:white;
}
.m-content{
    position:fixed;
    top:0;
    left:0;
    width:90%;
    height:100%;
    background-color:white;
}
.m-content h2{
    margin:auto;
    width:150px;
    /* border:1px solid black; */
    margin-top:50px;
}
.m-content h2 a{
    display:block;
    width:100%;
}
.m-content h2 a img{
    width:100%;
}
.m-close{
    position:absolute;
    top:50px;
    right:20px;
    background-color:transparent;
    border:none;
    font-size:1.2em;
}
#m-logo{
    width:150px;
    /* border:1px solid black; */
}
#m-logo a{
    display:block;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#m-logo a img{
    width:100%;
    
}
.m-search-icon{
    width:30px;
    height:30px;
    /* border:1px solid black; */
    margin-right:20px;
}
#s-bt{
    width:100%;
    height:100%;
    background-color:transparent;
    border:none;
}
#section-wrap{
    width:100%;
    height:auto;
}
footer{
    width:100%;
    height:100px;
    background-color:black;
    color:white;
}
/* 모바일 0~ */
.photo{
    width:100%;
    /* border:1px solid black; */
    display:flex;
    margin-top:30px;
    align-items: center;
}
.photo-img{
    display:block;
    width:70px;
    height:70px;
    /* border:1px solid black; */
    margin-left:20px;
    border-radius:50%;
    overflow: hidden;
    box-shadow:3px 3px 6px #ddd;
}
.photo-img img{
    width:100%;
}
.photo-text{
    margin-left:20px;
    line-height:200%;
}
.m-icon-group{
    width:100%;
    /* border:1px solid black; */
    margin-top:30px;
    display:flex;
    justify-content: space-around;
}
.m-icon-group a{
    display:block;
    width:25%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.m-icon-group a span{
    display:block;
    width:50%;
    border:1px solid black;
    overflow:hidden;
    border-radius:50%;
    padding:10px;
    margin-bottom:5px;
}
.m-icon-group a span img{
    width:100%;
}
.m-gnb{
    width:90%;
    list-style-type:none;
    margin:auto;
    /* border:1px solid black; */
    margin-top:30px;
}
.m-gnb>li{
    width:100%;
    background-color:lightblue;
    margin-bottom:5px;
}
.m-gnb>li>a{
    display:flex;
    justify-content: space-between;
    height:50px;
    align-items:center;
    padding: 0 20px;
}
@media screen and (min-width: 900px){
    /* 900px ~ 1199px*/
}
@media screen and (min-width:1200px){
    /* 1200px ~ 1599px*/
}
@media screen and (min-width:1600px){
    /* 1600px ~ */
}


